[Unit]
Description=send ip to arduino
After=network-online.target

[Service]
ExecStart=/usr/bin/python /root/boot-ip/send_ip.py

[Install]
WantedBy=network-online.target