[Unit]
Description=send public ip to arduino
After=network.target network-online.target

[Service]
type=forking
ExecStart=/root/boot-ip/send_ip.py start
User=root
RestartSec=10
Restart=on-failure
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
